<div style="position:relative">
  <div style="width:100%" ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>
</div>
<h1>
  <div ng-style="navbar-default" class="text-center">
    <img src="../../assets/80s_narrow.jpg" class="img-fluid" alt="Responsive image">
  </div>
</h1>
<abbr>
  <div class="container-fluid bottom-buffer full-width">
    <div class="navbar-default btn btn-block btn-primary container-fluid" data-toggle="collapse" href="#collapseTraffic"
      aria-expanded="false" aria-controls="collapseTraffic">
      <img class="img-fluid traffic-image" alt="Traffic" src="../../assets/cw-traffic.png">
    </div>
    <div class="collapse container-fluid" id="collapseTraffic">
      <div class="container-fluid">
        <div class="row">
          <div class="row">
            <div class="text-center">
              <div class="card-columns deck-gallery zoom-on-hover">
                <div *ngFor="let webcam of webcams">
                  <div class="card text-center zoom-img" *ngIf="webcam.webcam_location_tag == 'traffic'">
                    <a href="{{this.webcam.webcam_url}}" class="img-fluid" data-size="1600x1067" data-toggle="lightbox">
                      <img class="card-img-top zoom" src="{{this.webcam.webcam_url}}" alt="{{this.webcam.webcam_name}}">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid col-sm">
          <div class="col text-center">
            <div class="row">
              <div class="text-center">
                <div class="card-columns deck-gallery zoom-on-hover">
                  <div class="card text-center zoom-img">
                    <a>Directions to Breck</a>
                    <div>
                      <iframe class="card-img-top zoom" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d392941.51418100944!2d-105.86368992356236!3d39.69795100542459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x876b899a57958bd1%3A0x7cde499e795bac43!2s9829+Otis+Dr%2C+Westminster%2C+CO+80021-5457%2C+USA!3m2!1d39.87571!2d-105.0697263!4m5!1s0x876a588438e09649%3A0x708859ce83ce12cc!2s607+Gold+Run+Gulch+Rd%2C+Breckenridge%2C+CO+80424!3m2!1d39.522886199999995!2d-106.0241765!5e0!3m2!1sen!2sus!4v1515909915146"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="card text-center">
                    <a>Directions to Home</a>
                    <div>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d392935.7993572553!2d-105.86291322315799!3d39.69895477373818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x876a588438e09649%3A0x708859ce83ce12cc!2s607+Gold+Run+Gulch+Road%2C+Breckenridge%2C+CO!3m2!1d39.522886199999995!2d-106.0241765!4m5!1s0x876b899a57958bd1%3A0x7cde499e795bac43!2s9829+Otis+Dr%2C+Westminster%2C+CO+80021-5457%2C+USA!3m2!1d39.8756967!2d-105.06973789999999!5e0!3m2!1sen!2sus!4v1544221806677"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</abbr>
<abbr>
  <div class="container-fluid bottom-buffer full-width">
    <div class="btn btn-block navbar-default btn-primary container-fluid" data-toggle="collapse" href="#collapseBreckenridge"
      aria-expanded="false" aria-controls="collapseBreckenridge">
      <img class="img-fluid breck-image" alt="Breckenridge" src="../../assets/breckenridge-logo-504x240-300x143_white.png">
    </div>
    <div class="collapse container-fluid" id="collapseBreckenridge">
      <div class="container-fluid">
        <div class="row">
          <div class="row">
            <div class="text-center">
              <div class="card-columns deck-gallery zoom-on-hover">
                <div *ngFor="let webcam of webcams">
                  <div class="card text-center zoom-img" *ngIf="webcam.webcam_location_tag == 'breckenridge'">
                    <a href="{{this.webcam.webcam_url}}" class="img-fluid" data-size="1600x1067" data-toggle="lightbox">
                      <img class="card-img-top zoom" src="{{this.webcam.webcam_url}}" alt="{{this.webcam.webcam_name}}">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</abbr>
<abbr>
  <div class="container-fluid bottom-buffer">
    <div class="btn btn-block navbar-default btn-primary container-fluid" data-toggle="collapse" href="#collapseKeystone"
      aria-expanded="false" aria-controls="collapseKeystone">
      <img class="img-fluid keystone-image" alt="Keystone" src="../../assets/Keystone_logo.png">
    </div>
    <div class="collapse container-fluid" id="collapseKeystone">
      <div class="container-fluid">
        <div class="row">
          <div class="row">
            <div class="text-center">
              <div class="card-columns deck-gallery zoom-on-hover">
                <div *ngFor="let webcam of webcams">
                  <div class="card text-center zoom-img" *ngIf="webcam.webcam_location_tag == 'keystone'">
                    <a href="{{this.webcam.webcam_url}}" class="img-fluid" data-size="1600x1067" data-toggle="lightbox">
                      <img class="card-img-top zoom" src="{{this.webcam.webcam_url}}" alt="{{this.webcam.webcam_name}}">
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
      <div class="panel panel-default" ng-repeat="panel in panels">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a bs-collapse-toggle>
              {{ panel.title }}
            </a>
          </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            {{ panel.body }}
          </div>
        </div>
      </div>
    </div> -->

    <router-outlet></router-outlet>