<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Webcam URL</label>
        <input type="text" class="form-control" formControlName="webcam_url" value="{{webcam.webcam_url}}" #webcam_url />
      </div>
      <div class="form-group">
        <label class="col-md-4">Webcam Name</label>
        <input type="text" class="form-control" formControlName="webcam_name" value="{{webcam.webcam_name}}"
          #webcam_name />
      </div>
      <div class="form-group">
        <label class="col-md-4">Webcam Description</label>
        <select class="form-control" formControlName="webcam_name" value="{{webcam.webcam_location_tag}}"
          #webcam_location_tag matNativeControl required>
          <option value="traffic">Traffic</option>
          <option value="breckenridge">Breckenridge</option>
          <option value="keystone">Keystone</option>
          <option value="google_map">Google Map</option>
        </select>
      </div>
    </form>
  </div>
</div>
<button type="submit" (click)="onWebcamUpdate($event, webcam_url.value, webcam_name.value, webcam_location_tag.value)"
  class="btn btn-primary">Update</button>
<!-- 
<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Image URL</label>
        <input type="text" class="form-control" formControlName="image_url" #image_url/>
      </div>
      <div class="form-group">
        <label class="col-md-4">Image Name</label>
        <input type="text" class="form-control" formControlName="image_name" #image_name/>
      </div>
      <div class="form-group">
        <label class="col-md-4">Image Description</label>
        <input type="text" class="form-control" formControlName="image_description" #image_description/>
      </div>
      <div class="form-group">
        <button (click)="updateImage(image_url.value, image_name.value, image_description.value)"
            [disabled]="angForm.invalid" 
            class="btn btn-primary">
            Edit Image
         </button>
      </div>
    </form>
  </div>
</div> -->
<!-- <div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Image URL</label>
        <input type="text" class="form-control" formControlName="image_url" #image_url [(ngModel)] = "image.image_url" />
      </div>
      <div *ngIf="angForm.controls['image_url'].invalid && (angForm.controls['image_url'].dirty || angForm.controls['image_url'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['image_url'].errors.required">
          Image URL is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">image Name </label>
        <input type="text" class="form-control" formControlName="image_name" #image_name [(ngModel)] = "image.image_name" />
      </div>
      <div *ngIf="angForm.controls['image_name'].invalid && (angForm.controls['image_name'].dirty || angForm.controls['image_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['image_name'].errors.required">
          Image Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Image Description </label>
        <input type="text" class="form-control" formControlName="image_description" #image_description [(ngModel)] = "image.image_description" />
      </div>
      <div *ngIf="angForm.controls['image_description'].invalid && (angForm.controls['image_description'].dirty || angForm.controls['image_description'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['image_description'].errors.required">
          Image Description is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateImage(image_url.value, image_name.value, image_Description.value)"
        [disabled]="angForm.invalid" 
        class="btn btn-primary">Update Image</button>
      </div>
    </form>
  </div>
</div> -->