<div class="row">

</div>
<div class="row">

  <div class="text-center">
    <button class="btn btn-sm btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
    <button class="btn btn-sm btn-info" [class.active]="filterBy=='trees'" (click)="filterBy='trees'">Trees</button>
    <!-- <div class="text-align-right">
      <button class="btn btn-sm btn-info col-sm-1">Upload
        <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar (ApiResponse)="DocUpload($event)">
        </angular-file-uploader>
      </button>
    </div> -->
    <div class="card-columns deck-gallery zoom-on-hover">
      <div class="card text-center" *ngFor="let image of visibleImages">
        <a href="{{image.url}}" class="img-fluid" data-size="1600x1067" data-toggle="lightbox">
          <a href="{{image.url}}">
            <img class="card-img-top" src="{{image.url}}" alt="{{image.caption}}">
          </a>
          <!-- <div class="card-body">
          <h5 class="card-title-center">{{image.caption}}</h5>
        </div> -->
        </a>
      </div>
    </div>
  </div>
</div>
<p>add image button</p>
<div class="form-group">
  <button (click)="addImage('/assets/gallery/nature.jpg')"
      [disabled]="angForm.pristine || angForm.invalid" 
      class="btn btn-primary">
      Add Image
   </button>
</div>
<p>lightbox
</p>
<section class="gallery-block compact-gallery">
  <div class="container">
    <div class="heading">
      <h2>Bootstrap 4 compact lightbox gallery</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-4 item zoom-on-hover" *ngFor="let image of visibleImages">
        <a class="lightbox" href="{{image.url}}">
          <img class="img-fluid image" src="{{image.url}}">
          <span class="description">
            <span class="description-heading">head{{image.description}}</span>
            <span class="description-body">testt</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img class="card-img-top" src="../../assets/gallery/fjords.jpg" alt="{{image.caption}}">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
