<section class="card container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-sm-6">
          <div class="bio-text">
            <h2 *ngIf="ovechkin">{{ovechkin.fullName}}</h2>
            <h2 *ngIf="capitals">{{capitals.name}}</h2>
            <h2 *ngIf="ovechkin_curr_season">Current Season Goals: {{ovechkin_curr_season.goals}}</h2>
            <h2 *ngIf="ovechkin_career">Current Career Goals: {{ovechkin_career.goals}}</h2>
            <h2 *ngIf="ovechkin_on_pace_season">Current Season Pace: {{ovechkin_on_pace_season.goals}}</h2>
            <h2 *ngIf="ovechkin_curr_season">Current Season Games Played: {{ovechkin_curr_season.games}}</h2>
            <h2 *ngIf="ovechkin_curr_season_goals">Record Career Goals: 894</h2>
            <h2 *ngIf="capitals_schedule">Caps next game: {{capitals_schedule.dates[0].games[0].gameDate}}</h2>
            <h2 *ngIf="capitals_schedule">{{capitals_schedule.dates[0].games[0].teams.away.team.name}} @ {{capitals_schedule.dates[0].games[0].teams.home.team.name}}</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <figure class="bio-image">
            <img src="../../assets/800px-Alex_Ovechkin_2017-05-06.jpg" alt="" class="img-fluid">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>