<section class="card container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-sm-6">
          <div class="bio-text">
            <h2 *ngIf="ovechkin">{{ovechkin.fullName}}</h2>
            <h2 *ngIf="capitals">{{capitals.name}}</h2>
            <h2 *ngIf="ovechkin_curr_season_goals">Current Season Goals: {{ovechkin_curr_season_goals}}</h2>
            <h2 *ngIf="ovechkin_curr_season_goals">Current Career Goals: {{ovechkin_curr_career_goals}}</h2>
            <h2 *ngIf="ovechkin_curr_season_goals">Current Season Pace: {{ovechkin_curr_season_pace}}</h2>
            <h2 *ngIf="ovechkin_curr_season_goals">Record Career Goals: 894</h2>

          </div>
        </div>
        <div class="col-sm-6">
          <figure class="bio-image">
            <img src="../../assets/800px-Alex_Ovechkin_2017-05-06.jpg" alt="" class="img-fluid">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>